.strike {
    text-decoration: line-through;
}

.todo-container {
    background-color: #eee;
    padding: 1em;
    width: 70%;
    height: auto;
    border: 2px solid grey;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.inputs {
    border: none;
    border-bottom: 1px solid grey;
    padding: 3px;
}

ol {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

li {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

li .delete-button {
    position: absolute;
    right: 1em;
    border: none;
    cursor: pointer;
    color: red;
}

li p {
    margin-left: 1em;
}

li .complete-button {
    margin-right: 1em;
    margin-left: 1em;
    border: 1px solid #ff1493;
    border-radius: 5px;
    color: #ff1493;
    cursor: pointer;

}

#add-button {
    background-color: #ff1493;
    border: #ff1493;
    color: #eee;
    height: 2em;
    margin-top: 2px;
    cursor: pointer;
}