<main>
  <div id="gradient"></div>
  <body>
    <div id="form">
      <div id="form-content">
      <h2>TODO List</h2>
      <p>A place to store your todos</p>
      <input type="text" class="inputs" placeholder="Filter your to-dos">
      <app-to-do></app-to-do>
      <button class="completed">Complete</button>
    <div id="inputButton">
      <input type="text" class="inputs" placeholder="Add your to-do">
      <button id="addButton">Add</button>
      </div>
    </div>
    </div>
  </body>
</main>
